<div class="container-red">
<%= image_tag  "hand.png", class: "icon-stop" %>
  <h1 class="ask-container" >VOCÊ TEM MAIS DE 18 ANOS?</h1>
  <div class="btn-container">
    <%= link_to  "AINDA NÃO :(", root_path, class: "btn-border" %>
    <%= link_to  "SIM!!!", posts_path, class: "btn-white" %>
  </div>
</div>