<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>
<%= link_to "ENTRE", new_user_session_path, class: "btn-principal"  %>
<p>
<%= link_to "CADASTRE-SE", new_user_registration_path, class: "btn-principal"  %>
<p>
<%= link_to "QUER DAR UMA ESPIADINHA ANTES?", class: "btn-principal"  %>
<p>