.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 65px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 60px;
  border-radius: 50%;
  border: #DF854F 2px solid;
}
.avatar-red {
  width: 100px;
  border-radius: 50%;
  border: #B12028 4px solid;
  margin: 0 1rem;
}
