.container-triangle {
  background: linear-gradient(-45deg, #6a1c32, #af1f28);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.container-red {
  background: linear-gradient(-45deg, #6a1c32, #af1f28);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 4rem;
}
.over-hidden {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-col {
  display: flex;
  flex-direction: column;
  line-height: 1rem;
}
.container-around {
  display: flex;
  justify-content: space-around;
}
.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ask-container {
  color: #dd8754;
  width: 21rem;
  text-align: center;
}
.page-container {
  min-height: 100vh;
  position: relative;
  padding-bottom: 4rem;
}
.white {
  background-color: white;
  width: 100%;
  margin-bottom: 2rem;
  padding-top: 1rem;
}
.post-info {
  margin: 0 0.8rem;
}