.animation {
  animation-name: open;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.menu {
  background: linear-gradient(-45deg, #6a1c32, #af1f28);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 70%;
  height: calc(100vh - 4rem);
  overflow: hidden;
}
.menu-links {
  display: flex;
  flex-direction: column;
  width: max-content;
  a {
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
  }
}
.img-menu {
  padding: 2rem 1.5rem 3rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    font-size: 4rem;
    color: white;
  }
}